.ProjectContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
}

.grids {
    max-width: 75%;
    margin: auto;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

h1 {}

.Box1 {
    height: 90vh;
    width: 180vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
    background: radial-gradient(#111 50%, #000 100%);
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}

.Box1 img {
    transform: scale(1.0);
    transition: all 0.3s ease-out;
}

.Box1:hover img {
    transform: scale(1.2);
    opacity: 0.2;
}

.information {
    position: absolute;
    left: 0;
    top: 15%;
    padding: 15px;
    text-align: left;
    color: white;
    margin:5%;
}

.information h2 {
    font-size: 28px;
    transition: all 0.3s ease-out 0.2s;
    transform: translateY(90px);
    opacity: 0;
}

.Box1:hover .information h2 {
    transform: translateY(0px);
    opacity: 1;
}

.information p {
    font-size: 28px;
    transition: all 0.3s ease-out 0.5s;
    transform: translateY(90px);
    opacity: 0;
}

.Box1:hover .information p {
    transform: translateY(0px);
    opacity: 1;
}



.Box2 {
    height: 75vh;
    width: 180vh;
    margin: auto;
    margin-bottom: 10vh;
    overflow: hidden;
    background-color: #7393B3;
    background-size: cover;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}