.aboutBody {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.aboutBox{
    background-color: #213A5C;
    min-height: 800px;
    min-width: 90vh;
    max-width: 90vh;
    text-align: right;
}

.aboutText{
    margin: 10%;
    color:#8caac8;
}
.skillsText{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    color:#213A5C;
}

.pfp{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.skillsBox{
    background-color: #6F8FAF;
    min-height: 800px;
    text-align:left;
}

.aboutBody img{
    display:block;
    width:300px;
}

.icons{
    height:70px;
    width:100px;
}

.icons1{
    height:20px;
    width:35px;
}

.stack{
    display:flex;
    justify-content: center;
    align-items: center;
    height:35vh;
}

.info{
    display:flex;
    justify-content: right;
    align-items: center;
    height:10vh;
}

