html, body{
    max-width:100%;
    overflow-x:hidden;
    /* overflow-x: initial !important; */
}

.NavBody {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    padding-top:3vh;
    margin-bottom: 5vh;
}

.NavBody ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}


*,
*:before,
*:after{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

.link {
    text-decoration: none;
    position:relative;
    display: inline;
    padding-right: 5vh;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

.link:after{
    content: "";
    position: absolute;
    background-color:#7393B3;
    height:5px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.link:hover{
    color: #5A5A5A;
}


.link:hover:after{
    width: 80%;
}

.head{
    padding-left: 10%;
    font-weight: 700;
    font-size: 40px;
}

.head2{
    color: #7393B3;
}




